{% if not params is defined %}{% set params = {} %}{% endif %}
{% if not paramDescription is defined %}{% set paramDescription = {} %}{% endif %}
{% set paramDescription = {"tree": (selectedLanguage == "en" ? "id of the christmass tree" : "id vánočního stromku")}|merge(paramDescription) %}
<div class="block">
    <h3>{{ endpoint(method, route, params) }}</h3>
    <div>
        <p>
            {{ description|raw }}
        </p>
        {% if paramDescription is defined and not paramDescription is empty %}
            <div class="box">
                <h4>{% if selectedLanguage == "en" %}Parameters{% else %}Parametry{% endif %}</h3>
                <div class="boxcontent">
                    <table>
                        {% for name, description in paramDescription %}
                            <tr>
                                <td><span class="uri"><span class="param">{{ "{" ~ name ~ "}" }}</span></span></td>
                                <td>- {{ description }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
        {% if requestDescription is defined and not requestDescription is empty %}
            <div class="box">
                <h4>{% if selectedLanguage == "en" %}Request variables{% else %}Proměnné požadavku{% endif %}</h3>
                <div class="boxcontent">
                    <table>
                        {% for name, description in requestDescription %}
                            <tr>
                                <td><span class="uri"><span class="param">{{ name }}</span></span></td>
                                <td>- {{ description }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
        {% if request is defined %}
            <div class="box">
                <h4>{% if selectedLanguage == "en" %}Request body{% else %}Tělo požadavku{% endif %}</h3>
                <pre class="hl">{{ request|json_encode(constant('JSON_PRETTY_PRINT'))  }}</pre>
            </div>
        {% endif %}
        {% if result is defined %}
            <div class="box">
                <h4>{% if selectedLanguage == "en" %}Response body{% else %}Tělo odpovědi{% endif %}</h3>
                <pre class="hl">{{ result|json_encode(constant('JSON_PRETTY_PRINT'))  }}</pre>
            </div>
        {% endif %}
    </div>
</div>

