{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/xterm.css') }}">
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="body">
        <header>
            <div class="url">
                <a class="tree" href="{{ treeUrl }}">{{ treeUrlShow }}</a>
                (<a class="api" href="{{ path("tree", {"tree": tree}) }}">{% if selectedLanguage == "cz" %}strom{% else %}tree{% endif %}</a>)
            </div>
            <div class="clear"></div>
        </header>
        <main>
            <h1>API</h1>
            <div class="content">
                <div class="language-switch">
                    {% for lang in languages %}
                        {% if not loop.first %}/{% endif %}
                        {% if lang.selected %}
                            <span class="lang selected">{{ lang.code }}</span>
                        {% else %}
                            <a class="lang" href="{{ lang.url }}">{{ lang.code }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                {% import "resource_loader.html.twig" as resourceLoader %}
                {{ resourceLoader.load("api", selectedLanguage) }}
            </div>
        </main>
    </div>
{% endblock %}
